@import "./variables.scss";

@keyframes rotate{
  from { transform: rotate(-360deg); }
  to { transform: rotate(0deg); }
}

.loader {
  animation: rotate 3s linear infinite;
  img {
    height: 72px;
    width: 72px;
  }
}

.header {
  background-color: $navbar-color;
  // Measured the height from the provided image
  height: 65px;
  width: 100%;
}

.footer {
  background-color: $footer-color;
  // Measured the height from the provided image
  height: 65px;
  width: 100%;
  margin-top: 96px;
}